# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and virtual environments
.env
venv/
*.env

# Distribution / packaging
*.egg-info/
dist/
build/

# Application downloads
downloads/

# Logs and debug info
*.log

# MacOS specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js modules (if applicable)
node_modules/

# Python and Django specific files
*.sqlite3
*.db
*.pyo

# Vercel and Render configurations
.vercel/
.render/
